.card {
  width: 90px;
  background-color: #dfdfdf;
  height: 126px;
  border-radius: 12px;
  box-shadow: 3px 3px 3px 3px black;
  & > p {
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
    margin-left: 10px;
  }
  & > div > span {
    font-family: "EB Garamond", serif;
    font-size: 3rem;
  }
}
.stockDeck {
  padding: 10px;
}
.cardShadow {
}
