.header {
  background-color: #002c5f;
  box-shadow: 5px 5px 5px 5px black;
  & > img {
    width: 40px;
    cursor: pointer;
  }
  & > * {
    padding: 5px;
  }
  & > p {
    color: white;
    border: 3px solid rgb(41, 218, 41);
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
  }
}
