.sideCard {
  display: grid;
  grid-template-columns: repeat(20, 1rem);
  width: 100%;
  & > img {
    width: 80px;
    border-radius: 12px;
    box-shadow: 3px 3px 3px 3px black;
  }
}
@media screen and (max-width: 980px) {
  .sideCard > img {
    width: 50px;
  }
}
