.completeDeck {
  & > img {
    margin: 0 5px;
    width: 80px;
    border-radius: 12px;
  }
  position: fixed;
  bottom: 5%;
  right: 5%;
}
@media screen and (max-width: 980px) {
  .completeDeck {
    width: 50px;
  }
}
